extends layout

block title
    title Login

block content
    section
        header
            h1 Login Page
        article
            if registrationSuccess
                div 
                    div.alert.alert-success Registration was successful now log in
                    br
                    br
        article
            form(action="/login", method="POST")
                label(for="username") Username
                input(type="text", name="username", id="username", autofocus, placeholder="Enter your username")
                label(for="password") Password
                input(type="password", name="password", id="password", placeholder="Enter your password")
                input(type="submit", value="Login")