#wrapper {
  max-width: 1100px;
  position: relative;
}
#content {
  background: #f6f6ef;
}
header {
  padding: 5px;
  background: #ff742b;
  display: flex;
}
#logo {
  position: relative;
}
#logo img {
  width: 48px;
  height: 48px;
}

#search {
  flex-grow: 1;
  background: white;
  margin-left: 1rem;
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  position: relative;
  height: 80%;
  top: 5px;
}

#search .icon {
  position: relative;
  top: 0px;
  left: 14px;
  color: #ff742b;
  font-size: 24px;
}
#search form {
  width: 100%;
}
#search input {
  position: relative;
  flex-grow: 1;
  margin-left: 20px;
  outline: 0;
  border: 0;
  width: 90%;
}

.username {
  color: white;
  font-size: 18px;
}
.history a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: #142e4a;
}
.news {
  padding-top: 5px;
}
.news h1 {
  font-size: 14px;
  color: black;
  line-height: 1.25;
  margin-bottom: 0;
  padding-bottom: 0;
  text-rendering: optimizeLegibility;
}
.news h1 a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
.news span {
  font-size: 10px;
  color: dimgray;
}

footer {
  position: relative;
}
footer ul {
  position: absolute;
  padding: 0;
  left: 50%;
  transform: translate(-50%);
}
footer ul li {
  list-style-type: none;
  display: inline-block;
}
.page-item.active .page-link {
  background: #ff742b;
  border-color: #ff742b;
}
.page-link {
  color: #ff742b;
  font-size: 12px;
}
.page-link:hover {
  color: #ff742b;
}

#filters {
  font-size: 13px;
  color: #5c5c5c;
  padding: 10px;
}

#filters form {
  margin: 0 1rem;
}
#filters form select option {
  color: #5c5c5c;
}
